.wrapper{
    width: 80%;
    height: 80%;
    border: 1px solid darkcyan;
    padding: 1%;
    background-color: darkgray;
}

.element{
    border: 1px solid yellowgreen;
    background-color: lightblue;
}